a {
  color:$color-link; text-decoration:none;
  // position:relative;
  // &:after { content:''; position:absolute; height:1px; background:$color-link; bottom:0; left:0; width:0; transition:width 0.2s; }
  // &:hover:after { width:100%; }
  cursor:pointer;
  &.btn {
    color:white; text-decoration:none; padding:1.2em 1.2em; display:inline-block; box-shadow:0 0 0 4px rgba(white,0.3); border-radius:$br; line-height:30px; transition:all 0.2s; font-weight:bold; margin:1em; font-size:16px;
    text-align:center; width:180px;
    .fa { font-size:1.4em;  margin-right:10px; }
    &.fb {
      background:$color-fb;
      &:hover { background:lighten($color-fb,8%); }
    }
    &.map {
      background:$color-map;
      &:hover { background:lighten($color-map,8%); }
    }
    &.rules {
      background:$color-rules;
      &:hover { background:lighten($color-rules,8%); }
    }
    &:hover { box-shadow:0 0 0 6px white; }
    // margin-bottom:25px;
  }
}
