a {
  color: $color-link;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: lighten($color-link, 20%);
  }

  &.btn {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 16px 0;
    transition: all 0.2s;
    font-weight: bold;
    margin: 1em 0.5em;
    font-size: 16px;
    width: 65px;
    background: white;
    border-radius: 50%;
    text-align: center;

    @include mobile-first($screen-md-min) {
      margin: 1em 0.8em;
    }


    .fa {
      font-size: 2em;
      color: $color-secondary;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      transform: scale(1.1);
    }

    footer & .fa {
      color: $color-primary;
    }
  }
}
