a {
  color:$color-link; text-decoration:none; cursor:pointer;
  &.btn {
    color:white; text-decoration:none; padding:1.2em 1.2em; display:inline-block; box-shadow:0 0 0 4px rgba(white,0.3); border-radius:$br; line-height:30px; transition:all 0.2s; font-weight:bold; margin:1em; font-size:16px;
    text-align:center; width:180px;
    .fa { font-size:1.4em;  margin-right:10px; }
    &.fb {
      background:$color-fb;
      &:hover { background:lighten($color-fb,8%); }
    }
    &.map {
      background:$color-secondary;
      &:hover { background:lighten($color-secondary,8%); }
    }
    &.rules {
      background:$color-rules;
      &:hover { background:lighten($color-rules,8%); }
    }
    &:hover { box-shadow:0 0 0 6px white; }
    // margin-bottom:25px;
  }
}
