$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$margin: 4rem;
$color-bg: #202b3c;
$color-primary: #213450;
$color-secondary: #fd9232;
$color-fb: #43548c;
$color-rules: #c0392b;
$color-link: #ffe075;
$br: 5px;
$font-size-small: 12px;
$menu-width: 200px;
