@import 'normalize';

$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$margin: 4rem;
$color-bg: #202b3c;
$color-primary: #213450;
$color-secondary: #fd9232;
$color-fb: #43548c;
$color-rules: #c0392b;
$color-link: $color-secondary;
$br: 10px;
$font-size-small: 12px;
$menu-width:200px;

@import 'menus_and_wrappers';
@import 'links_and_buttons';
@import 'animations_and_mixins';

%coda { font-family:'Coda', cursive; text-transform:uppercase; }
%respond { display:block; width:100%; }
.text-center { text-align:center; }
.hidden-sm {
 display:none !important;
  @include mobile-first($screen-lg-min) { display:inline-block !important; }
}


body {
  font-family:'Roboto', sans-serif; background:$color-bg; font-size:14px; line-height:1.6; color:white;
  @include mobile-first($screen-lg-min) { font-size:18px; }
}

footer {
  padding:30px 0 30px;
  nav { margin-bottom:40px; }
  .footer-text { font-size:$font-size-small; }
  @include mobile-first($screen-lg-min) { padding:60px 0; }
  span { margin:0 10px; }
}

body.home {
  img.logo { max-width:400px; margin:40px 40px 30px; }
  .content-container { max-width:500px; text-align:center; }
}

body.inner {
  h1, h2 { @extend .text-center; }
  h2 { margin-top:2em; border-bottom:1px solid rgba(white,0.2); padding-bottom:0.5em; }
  h3 { margin-top:2em; }
  .content-container ul {
    padding-left:20px; margin-bottom:1.5em;
    li { margin-bottom:1.5em; }
  }
}

// -- other

.page-head {
  height:30px; padding:30px 25px 0; position:relative; font-size:20px;
  a { color:white; text-decoration:none; }
  .logo { @extend %coda; letter-spacing:2px; }
  .menu-btn { font-size:35px; position:absolute; top:10px; right:20px; padding:5px; z-index:2; }
}

.content-container {
  max-width:900px; padding:0 25px; margin:0 auto;
  @include mobile-first($screen-sm-min) { padding:0 80px; }
  @include mobile-first($screen-lg-min) { padding:0 120px; }
}

.block {
  background:$color-bg; padding:40px 0;
  &.extra-padd {
    @include mobile-first($screen-sm-min) { padding:80px 0; }
    @include mobile-first($screen-lg-min) { padding:130px 0; }
  }
  &.color-secondary { background:$color-primary; }
}

.scroll {
  position:absolute; bottom:20px; left:50%;
  span {
    height:12px; width:12px; background:white; border-radius:50%; display:block; margin-bottom:10px; opacity:0; animation:blink 1.5s linear 1s infinite alternate;
    &.d1 { animation:blink 1.5s linear 1.1s infinite alternate; }
    &.d2 { animation:blink 1.5s linear 1.2s infinite alternate; }
  }
}

.iframe-wrap {
  position:relative; padding-bottom:56.25%; height:0; margin-top:60px;
  iframe { border:none; position:absolute; top:0; left:0; width:100%; height:100%; }
}

dl {
  dt { font-weight:bold; color:$color-secondary; }
  dd { margin:0 0 20px; font-size:14px; }
}
