%nav
  %a.btn{ href: '//www.facebook.com/groups/sltrc', target: '_blank' }
    %span.fa.fa-fw.fa-facebook
  %a.btn{ href: '//www.facebook.com/groups/sltrc', target: '_blank' }
    %span.fa.fa-fw.fa-map-marker
  %a.btn{ href: '/basic-touch-rugby-rules.html' }
    %span.fa.fa-fw.fa-book
