%nav
  %a.btn.fb{ href: 'https://www.facebook.com/groups/sltrc', target: '_blank' }
    %span.fa.fa-facebook
    Facebook Group
  %a.btn.map{ href: 'https://goo.gl/6LNUpQ', target: '_blank' }
    %span.fa.fa-map-marker
    Tooting Comm.
  %a.btn.rules.hidden-sm{ href: '/basic-touch-rugby-rules.html' }
    %span.fa.fa-book
    Basic Rules
