.content-container
  %footer.text-center
    = partial 'assets/partials/buttons'
    .footer-text
      %span &copy; South London Touch Rugby Club
      %span.hyphen -
      %span Thrown together by <a href="https://www.garethweaver.com" target="blank">Gareth Weaver</a>.

