.content-container
  %footer.text-center
    .footer-text
      &copy; South London Touch Rugby Club
      %span -
      Thrown together by <a href="https://www.garethweaver.com" target="blank">Gareth Weaver</a>.
