.content-container
  %footer.text-center
    = partial 'assets/partials/buttons'
    .footer-text
      &copy; South London Touch Rugby Club
      %span /
      Thrown together by <a href="https://www.garethweaver.com" target="blank">Gareth Weaver</a>.
