.content-container
  %img.logo{ src: '/assets/img/sltrc-logo.svg' }
  %p We're a small independent not-for-profit touch rugby club based in South West London. Unfortunately due to increasing popularity we've had to lower our public profile as we just can't accommodate everyone who would like to play.
  %p If you'd like to play mixed competitive touch rugby in London we recommend you check out <a href="http://www.in2touch.com/" target="_blank">In2Touch</a>.
  %p
    %em Apologies, SLTRC.
