#map{ :'data-placeid' => 'ChIJ83ndMVgDdkgRIg1zPzIpZw0', :'data-lat' => '51.439570', :'data-lng' => '-0.138681' }
= javascript_include_tag '//maps.googleapis.com/maps/api/js?v=3.exp'
= javascript_include_tag 'map'
