%a.menu-close{ :'ng-click' => 'showMenu = !showMenu' }
  %span.fa.fa-arrow-circle-right
%ul
  %li
    %a{ href: '/' }
      %span.fa.fa-fw.fa-home
      Home
  %li
    %a{ href: '/basic-touch-rugby-rules.html' }
      %span.fa.fa-fw.fa-book
      Basic Rules
  %li
    %a{ href: '/helpful-tips.html' }
      %span.fa.fa-fw.fa-info-circle
      Helpful Tips
  %li
    %a{ href: '/glossary.html' }
      %span.fa.fa-fw.fa-question-circle
      Glossary
  %li
    %a{ href: 'https://www.in2touch.com/', target: '_blank' }
      %span.fa.fa-fw.fa-external-link
      In2Touch
