- content_for(:title, 'Basic Rules - South London Touch Rugby Club')
- content_for(:description, 'Much like all breeds of rugby the object of the game is to score tries by touching the ball on the ground over the opposition team\'s tryline.')

.block
  .content-container
    %header
      %h1 The basic rules of touch rugby

    %section
      %h2 Quick start guide
      %ul
        %li Points are scored by touching the ball on the ground over the opponent's tryline.
        %li Each team is made up of 6 players.
        %li At kickoff or after a penalty is awarded play is restared with a tap ball. The defending team must retire 10 metres to an onside position.
        %li Every time an attacking player with the ball is touched they must play the ball by placing it on the ground and stepping over it.
        %li At every play of the ball the defending team must retreat 5 metres to an imaginary onside line that runs laterally across the pitch from sideline to sideline.
        %li The attacking team has 6 touches before they relinquish possession and become the defending team.
        %li The ball can only be passed backwards.

.block.color-secondary
  .content-container
    .iframe-wrap
      %iframe{ width: '560', height: '315', src: 'https://www.youtube.com/embed/rr4nlFyCi44', allowfullscreen: '' }

.block
  .content-container
    %section
      %h2 The game
      %p The object of the game is to score tries by touching the ball on the ground over the opposition team's tryline where 1 point is awarded for each try scored.
      %p As with all breeds of rugby, the ball is carried forward up the pitch by players on the attacking team running holding the ball. It's important to note that the ball can only be passed backwards from a players hands. The defending team try to contain the attacking team by making touches (tackles) on the attacking player who is holding the ball.
      %p When a team is attacking they have possession of the ball and are allowed 6 touches before possession is lost, they then become the defending team. After a touch has been made the ball must be played through the legs.

      %h3 The touch (or tackle)
      %p The player carrying the ball can be touched anywhere (even on the ball itself) by any defending player. When he/she is touched they must play the ball before open play can resume. Heavy petting is strongly discouraged!

      %h3 Playing the ball
      %p A touched player must play the ball through their legs by placing it on the ground, on the mark, while stepping over it. The ball does not have to be played with the foot or rolled backwards. You'll find more experienced players will anticipate or initiate the touch. While playing the ball the player playing the ball must have their shoulders square facing their opponent's tryline. The entire defending team must retreat 5 metres backwards from the mark to an imaginary line called the offside line. The offside line would stretch from touchline to touchline laterally across the pitch. To be onside after retreating the defending players must not move forwards until the ball has been picked up by the dummy half.

      %h3 Dummy half
      %p The dummy half is the player who picks up the ball from the ground after it has been played. The dummy half can be anyone but is usually the closest attacking player to play of the ball. The dummy half cannot score and cannot be caught in possession. It's usually always recommended that the dummy half passes the ball to another player on his/her team. Upon passing the ball they are no longer regarded as the dummy half.
      %p To score attacking players can use up to 6 touches to attempt to cross their opponent's tryline however possession of the ball must be relinquished for a number of other offenses.

      %h3 Penalties
      %p Penalties are awarded against players for fowl play. The team that commited the penalty offence must retire 10 metres to an onside position.

      %h3 Taking a tap ball
      %p To kick off or restart the game after a penalty a player must tap the ball. The ball should be placed on the floor, released from the player's hands and then tapped with the foot before it can be picked up. The player who has tapped the ball is not regarded as a dummy half and may take a touch.


.block.color-primary
  .content-container
    %section
      %h2 Possession is lost when:
      %dl

        %dt Handover
        %dd When the touch count reaches 6

        %dt Ball to ground
        %dd The ball is dropped and touches the floor

        %dt Loss of control
        %dd The ball is dropped, knocked on or kicked in the act of rolling the ball

        %dt Forward pass (Penalty)
        %dd The ball is passed forwards from a players hands

        %dt Caught in possession
        %dd The dummy half is touched by an onside defender before they've passed the ball

        %dt Out of play<span>or</span> in touch
        %dd The player carrying the ball runs across a sideline (touchline) or deadball line (the end of the pitch) without being touched

        %dt Incorrect play of the ball (Penalty)
        %dd The touched player plays the ball without their shoulders square to the try line

        %dt Touch-pass (Penalty)
        %dd A Player passes the ball after they've been touched instead of playing the ball (we don't usually play this rule on Saturdays)

        %dt Playing off or over the mark (Penalty)
        %dd The ball is not played on the mark where the touch was made (we always encourage the ball to be played on the mark but don't usually play this rule on Saturdays)

        %dt Voluntary roll ball or no touch (Penalty)
        %dd The player with the ball is not touched but pre-emptively or accidentally rolls the ball.

        %dt Obstruction (Penalty)
        %dd A player without the ball is infront of a player with the ball and prevents a touch being made.

    %section
      %h2 The attacking team's touch count is reset to zero when:
      %dl

        %dt Touched in flight
        %dd A Defender deliberately plays at the ball in flight and touches it

        %dt Knockdown
        %dd A Defender intercepts the ball in flight and knocks it to the floor

        %dt Offside (Penalty)
        %dd A Player from the defending team inhibits the attacking team from an offside position before making a 5 metre retreat

        %dt Heavy Touch (Penalty)
        %dd If a touch is considered to be too strong

        %dt Deviation (Penalty)
        %dd A player in an offside position deviates from their chosen line while retreating 5 metres after a touch has been made
