- @body_class = 'home'

.block-100vh
  .stripe
  .content-container
    = image_tag 'sltrc-logo.svg', class: 'logo'
    %h2.sub-head
      We gather every Saturday morning in South London to play mixed social touch rugby. We’re a community of players of all ages, abilities &amp; genders.
    = partial 'assets/partials/buttons'

%hr

.block.color-secondary
  .content-container
    %ul.icon-list
      %li
        .icon
          %span.fa.fa-clock-o
        Every Saturday<br>11am-1pm
      %li
        .icon
          %span.fa.fa-money
        £3 for pitch fees<br>&amp; insurance
      %li
        .icon
          %span.fa.fa-map-marker
        Tooting Bec<br>Common
      %li.hidden-md.hidden-sm
        .icon
          %span.fa.fa-subway
        Nearest station<br> Balham
      %li
        .icon
          %span.fa.fa-user
        16 Years<br> or Older

.block.color-primary
  .content-container
    %h2.text-center A little about us&hellip;
    %p We're always looking for more players for our social mixed touch rugby group. There's no need for prior experience as all <a href="/basic-touch-rugby-rules.html">rules</a> can be taught whilst playing.
    %p Past and present players have played in a wide variety of other leagues as well as at other venues and levels. It's a great opportunity for beginners to benefit from more experienced players' knowledge, as well as for more experienced players to help beginners develop their skills and advance their knowledge of the game.
    %p The touch pitches are located on the Streatham side of <a href="https://goo.gl/6LNUpQ" target="_blank">Tooting Bec Common</a>, between the train tracks. The nearest postcode is SW16 1AD and the nearest stations are Balham or Streatham Hill. We play on a full size marked out Touch Rugby pitch. As the pitch is hired there is a collection of £3 per person per session. We’ll never ask you to subscribe for a season or year; it’s pay and play.
    %p There are no fixed teams and there is no long-term commitment needed. Just turn up when you're free and leave when you're tired. We do play most <a href="/basic-touch-rugby-rules.html">touch rugby rules</a>, with less emphasis on penalties, but tailored to the individual and their experience playing touch.
    %p To register and keep up to date, join our <a href="//www.facebook.com/groups/sltrc" target="blank">Facebook Group</a>. The only Saturdays we don't play are Christmas and New Year's.
